header {
  height: 105%;
  padding-top: 6em;
  background: #fff;
  box-shadow: 0 -10px 20px 20px #fff;

  .container {
    margin: 0 auto;
    max-width: 1100px;
    padding: 1.45rem 1.0875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      position: fixed;
      max-width: 130px;
      top: 5.63em;
      left: 50%;
      margin-left: -500px;
      z-index: 20;
    }

    .menu {
      justify-content: flex-end;
      position: fixed;
      top: 8.5em;
      right: 50%;
      margin-right: -500px;
      z-index: 30;

      .menu-list {
        list-style: none;
        display: flex;
        font-size: 0.77rem;
        font-family: "OdudoMono", monospace;
        font-weight: bold;
        margin-bottom: 0;

        li {
          margin-left: 2em;

          a {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }
  }

  .wrapper {
    max-width: 1100px;
    padding: 0 1em 0 15em;
    margin: 0 auto;
    flex-direction: column;
    height: 100%;

    .header-title {
      font-family: "GreycliffCF", sans-serif;
      font-weight: 800;
      font-size: 2.7rem;
      margin: 0 0 0.5em 0;
      line-height: 1.2;
      max-width: 700px;
    }
  }
}
